<section *ngIf="lodging" class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">lodging</h1>
      <div class="tile is-ancestor">
        <div class="tile is-6 is-parent is-vertical">
          <div class="tile is-child">
            <figure class="image is-16by9">
              <ng-container
                *ngIf="
                  !lodging.images || lodging.images.length === 0;
                  then thenBlock;
                  else elseBlock
                "
              ></ng-container>
              <ng-template #thenBlock>
                <img
                  src="https://bulma.io/images/placeholders/1280x960.png"
                  alt="Placeholder image"
                />
              </ng-template>
              <ng-template #elseBlock>
                <img src="{{ lodging.images[0].imageUri }}" alt="Main campground image" />
              </ng-template>
            </figure>
          </div>
        </div>
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <div *ngIf="!lodging.images || lodging.images.length < 2">
                    <img
                      alt="placeholder image"
                      src="https://bulma.io/images/placeholders/1280x960.png"
                    />
                  </div>
                  <div *ngIf="lodging.images && lodging.images.length >= 2">
                    <img src="{{ lodging.images[1].imageUri }}" alt="Extra campground image" />
                  </div>
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <div *ngIf="!lodging.images || lodging.images.length < 2">
                    <img
                      alt="placeholder image"
                      src="https://bulma.io/images/placeholders/1280x960.png"
                    />
                  </div>
                  <div *ngIf="lodging.images && lodging.images.length >= 2">
                    <img src="{{ lodging.images[2].imageUri }}" alt="Extra campground image" />
                  </div>
                </figure>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <div *ngIf="!lodging.images || lodging.images.length < 2">
                    <img
                      alt="placeholder image"
                      src="https://bulma.io/images/placeholders/1280x960.png"
                    />
                  </div>
                  <div *ngIf="lodging.images && lodging.images.length >= 2">
                    <img src="{{ lodging.images[3].imageUri }}" alt="Extra campground image" />
                  </div>
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <div *ngIf="!lodging.images || lodging.images.length < 2">
                    <img
                      alt="placeholder image"
                      src="https://bulma.io/images/placeholders/1280x960.png"
                    />
                  </div>
                  <div *ngIf="lodging.images && lodging.images.length >= 2">
                    <img src="{{ lodging.images[4].imageUri }}" alt="Extra campground image" />
                  </div>
                </figure>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <div *ngIf="!lodging.images || lodging.images.length < 2">
                    <img
                      alt="placeholder image"
                      src="https://bulma.io/images/placeholders/1280x960.png"
                    />
                  </div>
                  <div *ngIf="lodging.images && lodging.images.length >= 2">
                    <img src="{{ lodging.images[5].imageUri }}" alt="Extra campground image" />
                  </div>
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <div *ngIf="!lodging.images || lodging.images.length < 2">
                    <img
                      alt="placeholder image"
                      src="https://bulma.io/images/placeholders/1280x960.png"
                    />
                  </div>
                  <div *ngIf="lodging.images && lodging.images.length >= 2">
                    <img src="{{ lodging.images[1].imageUri }}" alt="Extra campground image" />
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile box has-background-dark is-child">
              <div class="level">
                <div class="level-item">
                  <div>
                    <p class="title has-text-light is-3">{{ lodging.name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-3">
          <div class="tile is-parent">
            <div class="tile box is-child">
              <h2 class="title is-4">overview</h2>
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div>
                      <p class="heading">address</p>
                      <p class="title is-6">{{ lodging.address.street }}</p>
                      <p class="title is-6">
                        {{ lodging.address.city }},
                        {{ lodging.address.stateProvince }},
                        {{ lodging.address.country }}
                      </p>
                      <p class="title is-6">
                        {{ lodging.address.postalCode }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile box is-child">
              <uic-rental [rentals]="lodging.rentals"></uic-rental>
            </div>
          </div>
        </div>
      </div>
      <div class="tile box is-child">
        <!-- Start of the comment creation HTML -->
        <article *ngIf="hasBooked" class="media">
          <figure class="media-left">
            <!-- profile picture -->
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="Profile Picture">
            </p>
          </figure>
          <form [formGroup]="Comment" novalidate style="width: 100%">
            <div class="media-content">
              <div class="field">
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="Add a comment..."
                    formControlName="message"
                  ></textarea>
                </div>
              </div>
              <nav class="level">
                <div class="level-left">
                  <div class="level-item">
                    <p>Rating:</p>
                  </div>
                  <div class="level-item">
                    <select id="inputScore" formControlName="score">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                  </div>
                  <div class="level-item">
                    <button class="button is-info" *ngIf="!Comment.invalid" (click)="OnSubmit()">
                      Submit
                    </button>
                    <a class="button is-info" *ngIf="Comment.invalid" disabled>Submit</a>
                  </div>
                </div>
              </nav>
            </div>
          </form>
        </article>
        <!-- End of comment creation HTML -->

        <!-- Start of comment HTML -->
        <div *ngFor="let c of lodging.reviews">
          <br />
          <article class="media">
            <figure class="media-left">
              <!-- profile picture -->
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Profile Picture">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <!-- profile name -->
                  <!-- Timestamp -->
                  <strong>{{ c.name }} </strong> <small>{{ c.dateCreated }}</small>
                  <br />
                  <!-- Review Message -->
                  {{ c.comment }}
                </p>
              </div>
            </div>
            <div class="media-right">
              <!-- Review score -->
              <span class="tag is-info is-large is-rounded">{{ c.rating }}</span>
            </div>
          </article>
        </div>
        <!-- End of comment HTML -->
      </div>
    </div>
  </div>
</section>
