<div class="level">
  <div class="level-item">
    <figure class="image is-64x64 pt-4">
      <img
        alt="campground image"
        class="is-rounded"
        src="{{imageUri}}"
      />
    </figure>
  </div>

  <div class="level-item has-text-centered">
    <div>
      <p class="heading">location</p>
      <p class="title is-6">{{lodgingName}}</p>
    </div>
  </div>

  <div class="level-item has-text-centered">
    <div>
      <p class="heading">check-in</p>
      <p class="title is-6">{{ booking.checkIn | date: 'yyyy-MM-dd' }}</p>
    </div>
  </div>

  <div class="level-item has-text-centered">
    <div>
      <p class="heading">check-out</p>
      <p class="title is-6">{{ booking.checkOut | date: 'yyyy-MM-dd' }}</p>
    </div>
  </div>
</div>
<hr />
