.container {
  margin: 25%;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  color: rgb(7, 157, 107);
  border: 0.2 solid green;
}

p {
  font-size: 1.5em;
}
