<div class="tile is-vertical">
  <div class="tile is-parent">
    <div class="tile is-child">
      <h2 class="title is-2">featured</h2>
    </div>
  </div>

  <div class="tile">
    <div class="tile is-parent" *ngFor="let lodging of displayLodgings">
      <div class="tile is-child dropdown is-hoverable is-clickable" (click)="featureClick(lodging)">
        <div
          class="card dropdown-trigger"
          aria-haspopup="true"
          aria-controls="this-dropdown-tooltip"
        >
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="{{
                  lodging.images && lodging.images.length > 0
                    ? lodging.images[0].imageUri
                    : 'https://bulma.io/images/placeholders/1280x960.png'
                }}"
                alt="lodging image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p id="card-title" class="title is-4">{{ lodging.name }}</p>
                <p id="card-subtitle" class="subtitle is-6">
                  {{ lodging.address.street }}, {{ lodging.address.city }},
                  {{ lodging.address.stateProvince }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-menu" id="this-dropdown-tooltip" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <p *ngIf="lotAvailableStringsByLodgingId.get(lodging.entityId) === undefined">
                No current lots
              </p>
              <span *ngIf="lotAvailableStringsByLodgingId.get(lodging.entityId) != undefined">
                Lot Availability:
                <ul *ngFor="let thisLotString of lotAvailableStringsByLodgingId.get(lodging.entityId)">
                  {{
                    thisLotString
                  }}
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
